<div class=" d-flex ">
  <div class="container  d-flex flex-row justify-content-center align-item-center">
    <div class="card text-center pt-5" style="width:40rem">
      <div class="card-body">
        <div class="mb-3 mt-4">
          <h1>Post</h1>
          <p>filter by date: </p>
          <div class="mb-1 mt-3">
            <label for="start"> date from:</label><input type="date" id="start" name="date_from"
                                                         value="2023-01-01"
                                                         min="2023-01-01" max="2080-12-31">
          </div>
          <br>
          <div class="mb-1">
            <label for="end">date to: </label><input type="date" id="end" name="date_to"
                                                     value="2023-01-01"
                                                     min="2023-01-01" max="2023-12-31">
          </div>
          <br>
          <button id="filter">Filter</button>
          <br>
          <hr>


          <script type="text/javascript" charset="utf-8">
              const date_from = document.querySelector('input[id="start"]');
              const date_to = document.querySelector('input[id="end"]');
          </script>


          <%form_with url:  filters_path, method: :post do |f|%>
          <%=f.select :time, posts_path %>
          <% end %>


<!-- filter by date-->
user.posts.filter_by_date(date_start, date_end)



<!--filter by date-->


          <% filter_date = request.query_parameters %>
          <% @date_from = nil %>
          <% @date_to = nil %>
          <% ok = 0 %>
          <% filter_date.each do |key, value| %>
            <% ok += 1 %>
            <% if @date_from.nil? %>
              <% @date_from = filter_date[key] %>
            <% end %>
            <% if ok == 2 %>
              <% @date_to = filter_date[key] %>
            <% end %>
          <% end %>

          <p> start date <%= @date_from %></p>
          <br>
          <p> end date <%= @date_to %></p>

          <% if !(@date_from.nil? && @date_to.nil?) %>
            <h>Filtered posts</h>
            <%= filter_by_date(@date_from, @date_to).each do |post| %>
              <ul>
                <div>
                  <u><b><%= post.user.full_name %></b></u>
                </div>

                <%= link_to "Destroy", admin_destroy_user_path(post.user), method: :delete, data: { confirm: "You sure?" } %>
                <p>time: <%= post.time.hour > 0 ? post.time.hour.to_s + " hour," : "" %>  <%= post.time.min %> minutes
                  and <%= post.time.sec %> seconds</p>
                <p>Date: <%= post.date %></p>
                <p>Distance: <%= post.distance %> km</p>
                <p>average time:  <%= average_speed(post.distance, post.time).to_s + "km" %></p>
                <%= link_to "Edit this post", edit_post_path(post) %> |
                <%= button_to "Delete this post", post, method: :delete %>
                <hr>
              </ul>

            <% end %>

          <% else %>
            <%= "Not filtered Post" %>
            <h1>Not filtered</h1>
           <%= render 'posts/posts' %>



          <% end %>

        </div>
      </div>

      <%= link_to "New post", new_post_path %>
    </div>
  </div>
</div>